@charset "UTF-8";
/* CSS Document */

body {
	font: 100%/1.5 Arial, Helvetica, sans-serif;
	margin:0 auto;
}

h1 {
	font-weight:normal;
	font-size: 1.5em; /* 24px */
	color:#06F;
	text-align:center;
}


p {
	font-size:0.8125em; /* 11px */
}
#content {
	margin: 0 auto;
	overflow:hidden;
	background-color:#FF6;
	border: 1px dashed #000000;

}

#nav ul li {
	display:inline;
	list-style:none;

}

#water_container {
	border: 3px solid black;
	height: 33%;
	width: 33%;
	float:left;
}

#water_container img {
	max-width:100%;
}



@media screen and (min-width: 768px) and (max-width: 696px) {
	#content {
		background-color:#96C;
	}


}

@media screen and (min-width: 480px) and (max-width: 767px) {
	#content {
		background-color:#6F3;
		
	}

}

@media screen and (max-width: 479px) {
	#content {
		background-color:#F69;
	}

}


