@charset "UTF-8";
/* CSS Document */
body {
	background-image:url(../images/background.jpg);
	background-repeat:repeat;

}

* {
	font-family: Arial, Helvetica, sans-serif;
	clear: none;
}

p {
	color:#000;
	width:27%;
	border:0.083em solid #666;
	float:left;
	margin: 7% 2% 2% 2%;
    padding: 5% 5% 5% 5%;
    background-color:#CCC;
    border-radius:0.375em;
	text-align:center;
	font-size:1.000em;
	
}

.article { 
	color:#06F;
	width:98%;
}

#nav ul {
 	margin: 1% 20% 15% 35%;
  	padding: 0.000em;
  	list-style-type: none;
  	width: auto;
  	position:absolute;
  	display: block;
  	height: 2.500em;
  	font-size: 1.000em;
  	font-weight: bold;
  	background:url(../images/nav_bg.png);
  	font-family: Arial, Helvetica, sans-serif;
}

#nav li {
  	display: block;
  	float: left;
  	margin: 0;
  	padding: 0;
}

#nav li a {
  	display: block;
  	float: left;
  	color: #FFFFFF;
  	text-decoration: none;
  	font-weight: bold;
  	padding: 0.667em 1.667em 0.000em 1.667em;
}

#nav li a:hover {
  	color: #FF0;
  	height: 1.833em;
}

#nav li.active a {
  	display: inline;
  	height: 1.833em;
  	float: left;
  	margin: 0;
}

<!--- Structural Pseudo-Classes --->

p:hover {
	color:#03F;
}

a:link {
	color:#F39;
	border: 0.100em solid green;
}

a:visited {
	color:#3C0;
}

a:active {
	color:#C60;

}

p:first-letter {
	font-size:200%;
	color:#0C0;
}

p:first-line {
	color:#0C0;
}

p:first-child {
	background-color:yellow;
}

input:focus {
	background-color:#FF0;
}

p:before {
	content:'Can you read this?"';
}

p:after {
	content:'"';
}

p:lang {
    font-family: Latha, "Tamil MN", serif;
    font-size: 60%;
}

<!--- End Structural Pseudo-Classes ---> 

a[href^="http"] {
	background:#ffff00;

}

img[src$=".jpg"] {
	border: 0.417em solid green;
	margin:0 30% 0 30%;
}

a[href*=""] {
	border: 0.250em solid blue;
}

a[target=_blank] {
	background-color:green;

}

[title~=water]{
	border: 0.417em solid yellow;

}

[lang|=en]{
	background:yellow;

}

a[target] {
	background-color:purple;
	color:#FF3;
}

form {
	background-color:#666;
	text-align:center;
	display:inline;

}
