@charset "UTF-8";
/* CSS Document */

body {
	font: 100%/1.5 Arial, Helvetica, sans-serif;
}

h1 {
	font-weight:normal;
	font-size: 1.5em; /* 24px */
	color:#06F;
}

p {
	font-size:0.8125em; /* 11px */
}

<!--- Structural Pseudo-Classes --->

p:hover {
	color:#03F;
}

a:link {
	color:#F39;
	border: 0.100em solid green;
}

a:visited {
	color:#3C0;
}

a:active {
	color:#C60;

}

p:first-letter {
	font-size:200%;
	color:#0C0;
}

p:first-line {
	color:#0C0;
}

p:first-child {
	background-color:yellow;
}

input:focus {
	background-color:#FF0;
}

p:before {
	content:'Can you read this?"';
}

p:after {
	content:'"';
}

p:lang {
    font-family: Latha, "Tamil MN", serif;
    font-size: 60%;
}

<!--- End Structural Pseudo-Classes ---> 

a[href^="http"] {
	background:#ffff00;

}

img[src$=".jpg"] {
	border: 0.417em solid green;
	margin:0 30% 0 30%;
}

a[href*=""] {
	border: 0.250em solid blue;
}

a[target=_blank] {
	background-color:green;

}

[title~=water]{
	border: 0.417em solid yellow;

}

[lang|=en]{
	background:yellow;

}

a[target] {
	background-color:purple;
	color:#FF3;
}

form {
	background-color:#666;
	text-align:center;
	display:inline;

}

